.dashboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px;
}

.card-div {
  width: 300px;
  height: 400px;
  border: 2px solid rgb(179, 177, 177);
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  background-color: #f9f9f9;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title {
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
}

.card-line {
  width: 80%;
  height: 2px;
  background-color: gray;
  margin: 10px auto;
  border: none;
}

.card-details {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  margin-top: 10px;
  row-gap: 10px;
  overflow: auto; /* if too many details */
}

.card-detail-item {
  display: flex;
  justify-content: space-between;
  font-size: 0.95em;
  word-break: break-word; /* wrap long text */
}

.detail-value {
  color: #f37c17;
}

.card-footer {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.card-footer button {
  width: 45%;
  height: 45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-now-btn {
  background-color: #36a16b;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.apply-now-btn:hover {
  background-color: #005740;
  opacity: 0.8;
}

.view-details-btn {
  background-color: #3a579e;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.view-details-btn:hover {
  background-color: #1a2e5b;
  opacity: 0.8;
}
